.my-skin-red-line .main-header {
  border-bottom: 2px solid #dd4b39; }
  .my-skin-red-line .main-header .logo,
  .my-skin-red-line .main-header .logo:hover {
    background-color: white;
    color: #dd4b39; }
  .my-skin-red-line .main-header .navbar {
    background-color: white; }
    .my-skin-red-line .main-header .navbar .nav > li.active > a,
    .my-skin-red-line .main-header .navbar .nav > li > a {
      color: #dd4b39; }
      .my-skin-red-line .main-header .navbar .nav > li.active > a:hover,
      .my-skin-red-line .main-header .navbar .nav > li > a:hover {
        color: #dd4b39; }
    .my-skin-red-line .main-header .navbar .nav .open > a {
      color: #dd4b39; }
      .my-skin-red-line .main-header .navbar .nav .open > a:focus, .my-skin-red-line .main-header .navbar .nav .open > a:hover {
        color: #dd4b39; }
    .my-skin-red-line .main-header .navbar .navbar-nav .dropdown-menu {
      border: none; }
    .my-skin-red-line .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu {
      margin-top: -1px; }
      .my-skin-red-line .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        background-color: #dd4b39; }
    .my-skin-red-line .main-header .navbar .navbar-nav > .notifications-menu {
      margin-top: 0px; }
    .my-skin-red-line .main-header .navbar .sidebar-toggle {
      color: #dd4b39; }
      .my-skin-red-line .main-header .navbar .sidebar-toggle:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color: #dd4b39; }

