.with-sidebar-horizontal {
    .main-header {
        & > .logo {
            border-right: none;
        }

        .sidebar-toggle {
            display: none;
        }
    }

    .main-sidebar {
        position: static;
        padding-top: 0;
        width: 100%;
        min-height: 44px;
        height: 44px;

        & > .sidebar {
            & > .user-panel {
                display: none;
            }

            & > form {
                display: none;
            }

            & > .sidebar-menu {
                li {
                    a {
                        border-left: 0;

                        & > i:first-child {
                            display: none;
                        }
                    }
                }

                & > li {
                    float: left;

                    &.treeview:hover {
                        .treeview-menu {
                            display: block;
                        }

                        .pull-right-container {
                            .fa-angle-left {
                                -moz-transform: rotate(-90deg);
                                -ms-transform: rotate(-90deg);
                                -o-transform: rotate(-90deg);
                                -webkit-transform: rotate(-90deg);
                                transform: rotate(-90deg);
                            }
                        }
                    }

                    &.header {
                        display: none;
                    }

                    a {
                        padding: 12px 15px;

                        & > .pull-right-container {
                            display: inline-block;
                            position: relative;

                            .pull-right {
                                float: none !important;
                                position: relative;
                                margin-top: -5px;
                                margin-left: 15px;
                            }
                        }
                    }

                    & > ul.treeview-menu {
                        position: absolute;
                        padding-left: 0;
                        z-index: 99999;
                        width: 120%;
                        box-shadow: rgba(0,0,0,.4) 5px 5px 10px;
                        display: none;

                        li {
                            a {
                                & > .pull-right-container {
                                    display: block;
                                    position: absolute;
                                    margin-top: -3px;

                                    .pull-right {
                                        float: right !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .content-wrapper {
        margin-left: 0;
    }

    .main-footer {
        margin-left: 0;
    }
}
