.with-header-light .main-header {
  border-bottom-style: solid;
  border-bottom-width: 2px; }
  .with-header-light .main-header .logo,
  .with-header-light .main-header .logo:hover {
    background-color: white;
    color: #000;
    height: 48px; }
  .with-header-light .main-header .navbar {
    background-color: white;
    min-height: 48px; }
    .with-header-light .main-header .navbar .nav > li.active > a,
    .with-header-light .main-header .navbar .nav > li > a {
      color: #000;
      padding-top: 14px;
      padding-bottom: 14px; }
      .with-header-light .main-header .navbar .nav > li.active > a:hover,
      .with-header-light .main-header .navbar .nav > li > a:hover {
        color: #000;
        background-color: rgba(0, 0, 0, 0.1); }
    .with-header-light .main-header .navbar .nav .open > a:focus, .with-header-light .main-header .navbar .nav .open > a:hover {
      color: #000;
      background-color: rgba(0, 0, 0, 0.1); }
    .with-header-light .main-header .navbar .navbar-nav .dropdown-menu {
      border: none;
      margin-top: 2px; }
    .with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu {
      margin-top: -1px; }
    .with-header-light .main-header .navbar .navbar-nav > .notifications-menu {
      margin-top: 0px; }
    .with-header-light .main-header .navbar .sidebar-toggle {
      height: 48px; }
      .with-header-light .main-header .navbar .sidebar-toggle:hover {
        background-color: rgba(0, 0, 0, 0.1); }

/* override the default skins */
.skin-red.with-header-light .main-header,
.skin-red-light.with-header-light .main-header {
  border-bottom-color: #dd4b39; }
  .skin-red.with-header-light .main-header .logo,
  .skin-red.with-header-light .main-header .logo:hover,
  .skin-red-light.with-header-light .main-header .logo,
  .skin-red-light.with-header-light .main-header .logo:hover {
    color: #dd4b39; }
  .skin-red.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-red.with-header-light .main-header .navbar .nav > li > a,
  .skin-red-light.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-red-light.with-header-light .main-header .navbar .nav > li > a {
    color: #dd4b39; }
    .skin-red.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-red.with-header-light .main-header .navbar .nav > li > a:hover,
    .skin-red-light.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-red-light.with-header-light .main-header .navbar .nav > li > a:hover {
      color: #dd4b39; }
  .skin-red.with-header-light .main-header .navbar .nav .open > a,
  .skin-red-light.with-header-light .main-header .navbar .nav .open > a {
    color: #dd4b39; }
    .skin-red.with-header-light .main-header .navbar .nav .open > a:focus, .skin-red.with-header-light .main-header .navbar .nav .open > a:hover,
    .skin-red-light.with-header-light .main-header .navbar .nav .open > a:focus,
    .skin-red-light.with-header-light .main-header .navbar .nav .open > a:hover {
      color: #dd4b39; }
  .skin-red.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header,
  .skin-red-light.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background-color: #dd4b39; }
  .skin-red.with-header-light .main-header .navbar .sidebar-toggle,
  .skin-red-light.with-header-light .main-header .navbar .sidebar-toggle {
    color: #dd4b39; }
    .skin-red.with-header-light .main-header .navbar .sidebar-toggle:hover,
    .skin-red-light.with-header-light .main-header .navbar .sidebar-toggle:hover {
      color: #dd4b39; }

.skin-blue.with-header-light .main-header,
.skin-blue-light.with-header-light .main-header {
  border-bottom-color: #3c8dbc; }
  .skin-blue.with-header-light .main-header .logo,
  .skin-blue.with-header-light .main-header .logo:hover,
  .skin-blue-light.with-header-light .main-header .logo,
  .skin-blue-light.with-header-light .main-header .logo:hover {
    color: #3c8dbc; }
  .skin-blue.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-blue.with-header-light .main-header .navbar .nav > li > a,
  .skin-blue-light.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-blue-light.with-header-light .main-header .navbar .nav > li > a {
    color: #3c8dbc; }
    .skin-blue.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-blue.with-header-light .main-header .navbar .nav > li > a:hover,
    .skin-blue-light.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-blue-light.with-header-light .main-header .navbar .nav > li > a:hover {
      color: #3c8dbc; }
  .skin-blue.with-header-light .main-header .navbar .nav .open > a,
  .skin-blue-light.with-header-light .main-header .navbar .nav .open > a {
    color: #3c8dbc; }
    .skin-blue.with-header-light .main-header .navbar .nav .open > a:focus, .skin-blue.with-header-light .main-header .navbar .nav .open > a:hover,
    .skin-blue-light.with-header-light .main-header .navbar .nav .open > a:focus,
    .skin-blue-light.with-header-light .main-header .navbar .nav .open > a:hover {
      color: #3c8dbc; }
  .skin-blue.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header,
  .skin-blue-light.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background-color: #3c8dbc; }
  .skin-blue.with-header-light .main-header .navbar .sidebar-toggle,
  .skin-blue-light.with-header-light .main-header .navbar .sidebar-toggle {
    color: #3c8dbc; }
    .skin-blue.with-header-light .main-header .navbar .sidebar-toggle:hover,
    .skin-blue-light.with-header-light .main-header .navbar .sidebar-toggle:hover {
      color: #3c8dbc; }

.skin-purple.with-header-light .main-header,
.skin-purple-light.with-header-light .main-header {
  border-bottom-color: #605ca8; }
  .skin-purple.with-header-light .main-header .logo,
  .skin-purple.with-header-light .main-header .logo:hover,
  .skin-purple-light.with-header-light .main-header .logo,
  .skin-purple-light.with-header-light .main-header .logo:hover {
    color: #605ca8; }
  .skin-purple.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-purple.with-header-light .main-header .navbar .nav > li > a,
  .skin-purple-light.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-purple-light.with-header-light .main-header .navbar .nav > li > a {
    color: #605ca8; }
    .skin-purple.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-purple.with-header-light .main-header .navbar .nav > li > a:hover,
    .skin-purple-light.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-purple-light.with-header-light .main-header .navbar .nav > li > a:hover {
      color: #605ca8; }
  .skin-purple.with-header-light .main-header .navbar .nav .open > a,
  .skin-purple-light.with-header-light .main-header .navbar .nav .open > a {
    color: #605ca8; }
    .skin-purple.with-header-light .main-header .navbar .nav .open > a:focus, .skin-purple.with-header-light .main-header .navbar .nav .open > a:hover,
    .skin-purple-light.with-header-light .main-header .navbar .nav .open > a:focus,
    .skin-purple-light.with-header-light .main-header .navbar .nav .open > a:hover {
      color: #605ca8; }
  .skin-purple.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header,
  .skin-purple-light.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background-color: #605ca8; }
  .skin-purple.with-header-light .main-header .navbar .sidebar-toggle,
  .skin-purple-light.with-header-light .main-header .navbar .sidebar-toggle {
    color: #605ca8; }
    .skin-purple.with-header-light .main-header .navbar .sidebar-toggle:hover,
    .skin-purple-light.with-header-light .main-header .navbar .sidebar-toggle:hover {
      color: #605ca8; }

.skin-green.with-header-light .main-header,
.skin-green-light.with-header-light .main-header {
  border-bottom-color: #00a65a; }
  .skin-green.with-header-light .main-header .logo,
  .skin-green.with-header-light .main-header .logo:hover,
  .skin-green-light.with-header-light .main-header .logo,
  .skin-green-light.with-header-light .main-header .logo:hover {
    color: #00a65a; }
  .skin-green.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-green.with-header-light .main-header .navbar .nav > li > a,
  .skin-green-light.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-green-light.with-header-light .main-header .navbar .nav > li > a {
    color: #00a65a; }
    .skin-green.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-green.with-header-light .main-header .navbar .nav > li > a:hover,
    .skin-green-light.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-green-light.with-header-light .main-header .navbar .nav > li > a:hover {
      color: #00a65a; }
  .skin-green.with-header-light .main-header .navbar .nav .open > a,
  .skin-green-light.with-header-light .main-header .navbar .nav .open > a {
    color: #00a65a; }
    .skin-green.with-header-light .main-header .navbar .nav .open > a:focus, .skin-green.with-header-light .main-header .navbar .nav .open > a:hover,
    .skin-green-light.with-header-light .main-header .navbar .nav .open > a:focus,
    .skin-green-light.with-header-light .main-header .navbar .nav .open > a:hover {
      color: #00a65a; }
  .skin-green.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header,
  .skin-green-light.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background-color: #00a65a; }
  .skin-green.with-header-light .main-header .navbar .sidebar-toggle,
  .skin-green-light.with-header-light .main-header .navbar .sidebar-toggle {
    color: #00a65a; }
    .skin-green.with-header-light .main-header .navbar .sidebar-toggle:hover,
    .skin-green-light.with-header-light .main-header .navbar .sidebar-toggle:hover {
      color: #00a65a; }

.skin-yellow.with-header-light .main-header,
.skin-yellow-light.with-header-light .main-header {
  border-bottom-color: #f39c12; }
  .skin-yellow.with-header-light .main-header .logo,
  .skin-yellow.with-header-light .main-header .logo:hover,
  .skin-yellow-light.with-header-light .main-header .logo,
  .skin-yellow-light.with-header-light .main-header .logo:hover {
    color: #f39c12; }
  .skin-yellow.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-yellow.with-header-light .main-header .navbar .nav > li > a,
  .skin-yellow-light.with-header-light .main-header .navbar .nav > li.active > a,
  .skin-yellow-light.with-header-light .main-header .navbar .nav > li > a {
    color: #f39c12; }
    .skin-yellow.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-yellow.with-header-light .main-header .navbar .nav > li > a:hover,
    .skin-yellow-light.with-header-light .main-header .navbar .nav > li.active > a:hover,
    .skin-yellow-light.with-header-light .main-header .navbar .nav > li > a:hover {
      color: #f39c12; }
  .skin-yellow.with-header-light .main-header .navbar .nav .open > a,
  .skin-yellow-light.with-header-light .main-header .navbar .nav .open > a {
    color: #f39c12; }
    .skin-yellow.with-header-light .main-header .navbar .nav .open > a:focus, .skin-yellow.with-header-light .main-header .navbar .nav .open > a:hover,
    .skin-yellow-light.with-header-light .main-header .navbar .nav .open > a:focus,
    .skin-yellow-light.with-header-light .main-header .navbar .nav .open > a:hover {
      color: #f39c12; }
  .skin-yellow.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header,
  .skin-yellow-light.with-header-light .main-header .navbar .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    background-color: #f39c12; }
  .skin-yellow.with-header-light .main-header .navbar .sidebar-toggle,
  .skin-yellow-light.with-header-light .main-header .navbar .sidebar-toggle {
    color: #f39c12; }
    .skin-yellow.with-header-light .main-header .navbar .sidebar-toggle:hover,
    .skin-yellow-light.with-header-light .main-header .navbar .sidebar-toggle:hover {
      color: #f39c12; }

