$primary-color: #dd4b39;
$gray-light: rgba(0,0, 0, .1);

.with-header-light {
    .main-header {
        border-bottom-style: solid;
        border-bottom-width: 2px;

        .logo,
        .logo:hover {
            background-color: white;
            color: #000;
            height: 48px;
        }

        .navbar {
            background-color: white;
            min-height: 48px;

            .nav {
                & > li {
                    &.active > a,
                    & > a {
                        color: #000;
                        padding-top: 14px;
                        padding-bottom: 14px;

                        &:hover {
                            color: #000;
                            background-color: $gray-light;
                        }
                    }
                }

                .open {
                    & > a {

                        &:focus,
                        &:hover {
                            color: #000;
                            background-color: $gray-light;
                        }
                    }
                }
            }

            .navbar-nav {
                .dropdown-menu {
                    border: none;
                    margin-top: 2px;
                }

                & > .user-menu {
                    & > .dropdown-menu {
                        margin-top: -1px;
                    }
                }

                & > .notifications-menu {
                    margin-top: 0px;
                }
            }

            .sidebar-toggle {
                height: 48px;

                &:hover {
                    background-color: $gray-light;
                }
            }
        }
    }
}

@mixin setSkinForHeaderLine($skinName, $skinColor) {
    .#{$skinName},
    .#{$skinName}-light {
        &.with-header-light {
            .main-header {
                border-bottom-color: $skinColor;

                .logo,
                .logo:hover {
                    color: $skinColor;
                }

                .navbar {
                    .nav {
                        & > li {
                            &.active > a,
                            & > a {
                                color: $skinColor;

                                &:hover {
                                    color: $skinColor;
                                }
                            }
                        }

                        .open {
                            & > a {
                                color: $skinColor;

                                &:focus,
                                &:hover {
                                    color: $skinColor;
                                }
                            }
                        }
                    }

                    .navbar-nav {
                        & > .user-menu {
                            & > .dropdown-menu {

                                & > li.user-header {
                                    background-color: $skinColor;
                                }
                            }
                        }
                    }

                    .sidebar-toggle {
                        color: $skinColor;

                        &:hover {
                            color: $skinColor;
                        }
                    }
                }
            }
        }
    }
}

/* override the default skins */
@include setSkinForHeaderLine("skin-red", #dd4b39);
@include setSkinForHeaderLine("skin-blue", #3c8dbc);
@include setSkinForHeaderLine("skin-purple", #605ca8);
@include setSkinForHeaderLine("skin-green", #00a65a);
@include setSkinForHeaderLine("skin-yellow", #f39c12);
