<div ng-controller="FormCtrl">
    <section class="content-header">
        <h1>
            Form
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <section class="content">
        <form name="form" method="post" novalidate ng-submit="submitForm()">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-tag"></i>
                    <h3 class="box-title">Normal</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label">Required Field</label>
                        <input name="requiredField" type="text" class="form-control" required ng-model="model.requiredField">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Date Picker</label>
                                <div class="input-group">
                                    <input type="text" class="date form-control" ng-model="model.date" readonly>
                                    <div class="input-group-addon">
                                        <i class="fa  fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Date Range Picker</label>
                                <input type="text" class="daterange form-control" ng-model="model.daterange" readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Field</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Field</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Field</label>
                        <textarea class="html form-control"></textarea>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <button type="submit" class="pull-right btn btn-primary">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
            </div>
        </form>

        <form>
            <div class="box box-default">
                <div class="box-header">
                    <div class="box-title">
                        <i class="fa fa-tag"></i> &lt;bn-ui-input /&gt;
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <bn-ui-input label="Field" ng-model="model.text" class="col-xs-4"></bn-ui-input>
                        <bn-ui-input label="Field M/D/YYYY" ng-model="model.date" type="date" format="M/D/YYYY" class="col-xs-4"></bn-ui-input>
                        <bn-ui-input label="Field M/D/YYYY h:mm a" ng-model="model.datetime" type="datetime" format="M/D/YYYY h:mm a" class="col-xs-4"></bn-ui-input>
                        </div>
                    <div class="row">
                        <bn-ui-select label="Field" ng-model="model.select" source="options" class="col-xs-4"></bn-ui-select>
                        <bn-ui-checks label="Field" ng-model="model.radio" source="options" with-icon="true" class="col-xs-4"></bn-ui-checks>
                        <bn-ui-checks label="Field" ng-model="model.checkbox" source="options" multiple="true" with-icon="true" class="col-xs-4"></bn-ui-checks>
                    </div>
                </div>
            </div>
        </form>
    </section>

</div>

@section scripts{
    <script src="~/Areas/Admin/Content/js/pages/example/form.js"></script>
}