@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    var error = Model == null ? (TempData["Error"] as Exception) : Model.Exception;
    if (!HttpContext.Current.IsDebuggingEnabled)
    {
        error = null;
    }
}
<div class="page-error">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="icon"></div>
            <div class="content">
                <h2 class="text-danger">
                    @(error != null ? error.Message : "Error.")
                </h2>
                <h3 class="text-danger">
                    @(error != null ? error.Message : "An error occurred while processing your request.")
                </h3>
            </div>
        </div>
    </div>
</div>

@section styles{
    <link href="~/Content/page-error.css" rel="stylesheet" />
}