.page-index .nav-tabs {
  background-color: #fff;
  border-bottom-color: #ecf0f5;
  height: 44px; }
  .page-index .nav-tabs > li > a {
    padding-right: 50px;
    height: 44px;
    border: none;
    border-radius: 0; }
    .page-index .nav-tabs > li > a.first {
      padding-right: 15px; }
  .page-index .nav-tabs > li.active a,
  .page-index .nav-tabs > li.active a:hover,
  .page-index .nav-tabs > li.active a:focus {
    background-color: #ecf0f5;
    border: none; }
  .page-index .nav-tabs > li .close {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: normal; }

