body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    cursor: pointer;
}

.main-header {
}

.content-wrapper {
}

.sidebar-menu {
    .treeview-menu {
        padding-left: 20px;
    }
}


/* pages */
.page-login {
    .logo {
        margin-top: 60px;
        text-align: center;

        img {
            height: 160px;
        }
    }

    .panel {
        width: 400px;
        margin: 20px auto;

        .panel-body {
            padding: 20px;

            label {
                font-weight: normal;
            }
        }
    }

    .copyright {
        text-align: center;

        a {
            font-weight: bold;
        }
    }
}
