$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777
$gray-lighter: lighten($gray-base, 93.5%) !default; // #eee

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;

$color-error: #ff6a00 !default;
$color-success: #00a65a !default;
$color-success-border: darken($color-success, 10%);


html, body {
    font-family: 'Microsoft YaHei', Inconsolata, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    height: 100%;
}

a {
    cursor: pointer;
}

.padding {
    padding: 15px;
}

.padding-lg {
    padding: 30px;
}

.padding-sm {
    padding: 5px;
}

.margin {
    margin: 15px;
}

.margin-lg {
    margin: 30px;
}

.margin-sm {
    margin: 5px;
}

/* datepicker, daterangepicker */
.datepicker.dropdown-menu {
}

.daterangepicker.dropdown-menu {
    .daterangepicker_input {
        input {
            &.active {
                background-color: $gray-lighter;
            }
        }
    }

    .ranges {
        .range_inputs {
            & > .btn {
                display: block;
                width: 100%;
                margin-bottom: 8px;

                &.btn-success {
                    background-color: $color-success;
                    border-color: $color-success-border;
                }
            }
        }
    }
}


/* html editor */
ul.wysihtml5-toolbar {
    & > li {
        margin-bottom: 0;

        .btn-group .btn,
        & > .btn {
            padding: 3px 6px;
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}


/* form */
.form-group {
    position: relative;
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
    & > label {
        font-weight: normal;

        [class^=iradio],
        [class^=icheckbox] {
            margin-top: -3px;
            margin-left: -20px;
        }
    }
}

/* form */
form {
    select.form-control {
        padding-left: 9px;
    }

    .form-control {
        &.error {
            border-color: $color-error;

            & + label {
                &.error {
                    color: $color-error;
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-weight: normal;
                }
            }
        }

        &[readonly] {
            background-color: white;
        }
    }

    input[type=radio],
    input[type=checkbox] {
        & + label {
            &.error {
                font-weight: normal;
                position: absolute;
                color: $color-error;
                max-width: none;
                width: 200px;
                display: block;
                top: 18px;
                left: 0;
            }
        }
    }

    .row {
        .form-control {
            &.error {
                & + label {
                    &.error {
                        right: 15px;
                    }
                }
            }
        }
    }

    &.form-inline {
        .form-control {
            &.error {
                & + label {
                    &.error {
                        right: 0;
                        top: -22px;

                        @media (max-width: 768px) {
                            top: 0;
                        }
                    }
                }
            }
        }
    }

    &.form-horizontal {
        .form-control {
            &.error {
                & + label {
                    &.error {
                        right: 20px;
                        top: 6px;
                    }
                }
            }
        }
    }

    &.readonly {
        display: none;

        button,
        input[type=button],
        input[type=submit] {
            display: none;
        }

        .form-control-feedback {
            display: none;
        }

        .input-group-addon {
            padding: 2px 0;
            background-color: #fff;
            border: none;
            vertical-align: top;
        }

        .form-group {
            margin-bottom: 5px;

            .form-control-static {
                padding-top: 0;
                min-height: 12px;
            }
        }

        &.form-horizontal {
            label {
                padding-top: 0;
                padding-right: 0;
            }
        }

        &.form-inline {
            .form-control-static {
                padding-right: 15px;
            }
        }
    }
}


/* angular ui */
.form-control {
    &.ng-dirty {
        &.ng-valid {
            &.ng-not-empty {
                /*border-color: $brand-success;*/
            }
        }

        &.ng-invalid {
            border-color: $color-error;
        }
    }
}

/* bn components */
.panel-example {
    padding: 55px 15px 15px 15px;
    position: relative;

    &:after {
        content: "Example";
        text-transform: uppercase;
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 1.15em;
        font-weight: 500;
        color: rgba($gray-light, .6);
        letter-spacing: 1px;
    }
}

.bn-dialog-loaded,
.bn-dialog-loading {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(255,255,255,.8);

    .icon {
    }

    .text {
    }
}

.bn-dialog-loaded {
    background-color: transparent;
}

.bn-pager {
    margin: 10px 0;

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .summary {
        float: left;
        margin: 7px 0;
    }

    nav {
        float: right;

        .pagination {
            margin: 0;
        }
    }

    @media (max-width: $screen-sm) {
        .summary {
            float: none;
            text-align: center;
            margin-bottom: 10px;
        }

        nav {
            float: none;
            text-align: center;
        }
    }
}
