<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b>
        <span ng-bind="::appSettings.appVersion"></span>
    </div>
    <strong ng-bind-html="::appSettings.appCopyright"></strong>
    <div class="clearfix"></div>
</footer>